body {
    margin: 0;
    
}

.headerall {
    background-color: #1F2937;
}

.header1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #F9FAF8;
    justify-content: space-evenly;
}

.header2 {
    display: flex;
    width: 400px;
    padding-left: 12rem;
    flex-direction: row;
    align-items: center;
    margin: 0px;

}

.Logo {
    padding-right: 12rem;
}

a {
    color:bisque;
}

.header2 h1 {
    color: #F9FAF8;
    font-weight: bold;
}

.header2 p {
    color: #E5E7EB;
}

.header2 img {
    width: 300px;
    height: 400px;
}


.dakenimg {
    width:300px;
    height: 400px;
    flex-grow: 1;
    padding-left: 55rem;
}

.headertext {
    width: 500px;
}

.mid-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

.goat {
   width: 225px;
   height: 225px;
   border-color: blue;
   border-radius: 20px;
}

.intel-all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.goattext {
    display: flex;
    justify-content: center;
}

.quote-section {
    padding: 3rem;
    background-color: #E5E7EB;
    font-size: 38px;
    color: #1F2937;
    font-style: italic;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    border-color: #1F2937;
    margin: 0px;
    padding: 0px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}